<div class="container">
  <h1>Deaf Grandma</h1>
  <div id = 'holder'></div>

    Say something to Grandma:
    <br>
    <input id ='user_text' type="text" >
    <button id ="submit" value="Say it!">Submit</button>

</div>
